textarea {
  width: 40rem;
  height: 20rem;
  overflow-x: scroll;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons:hover > button {
  cursor: pointer;
}

.copy-button:hover {
  cursor: pointer;
}
