textarea {
    width: 40rem;
    height: 20rem;
}

.adm {
    background-color: purple;
    color: white;
}

.cpa {
    background-color: orange;
    color: white;
}

.gax {
    background-color: black;
    color: white;
}

.agc {
    background-color: steelblue;
    color: white;
}